body {
    margin: 0;
    background: hsl(0, 0%, 100%);
}
/* .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(208, 191, 171);
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 999;
} */
/* .navbar {
    position: absolute;
    top: 20px;
    right: 20px;
} */
.title {
  position: absolute;
  top: 8vh;
  left: 35px;
  font-size: smaller;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu {
  position: absolute;
  top: 3vh;
  right: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo {
  position: relative;
  width: 90px;
  left: 30px;
}
.bye {
  position: absolute;
  top: 40vh;
  right: 380px;
}
.cloud {
  position: absolute;
  top: 35px;
  right: 160px;
  width: 250px;
}

.cloud2 {
  position: absolute;
  top: 70px;
  right: 360px;
  width: 230px;
}

.tree {
  position: absolute;
  bottom: 39px;
  width: 270px;
  left: 45px;
}
.mountain {
  position: absolute;
  left: 250px;
  bottom: 40px;
  width: 880px;
}
.letter {
  position: absolute;
  right: 500px;
  bottom: 42px;
  width: 70px;
}
.letter2 {
  position: absolute;
  right: 530px;
  bottom: 82px;
  width: 70px;
}
.mailbox {
  position: absolute;
  bottom: 30px;
  right: 630px;
  width: 250px;
}
.house {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 400px;
}
.butterfly {
  position: absolute;
  width: 130px;
  right: 400px;
  top: 35vh;
}
.road {
  position: absolute;
  background: #433d3d;
  height: 40px;
  bottom: 0;
  width: 100%;
}
.dog {
  position: absolute;
  bottom: 0;
  animation: dog 5s linear infinite;
}
@keyframes dog {
  from {
      transform: translateX(-50vw);
  }
  to {
      transform: translateX(1500px);
  }
}
.text-box {
  position: absolute;
  font-size: 20px;
  top: 30vh;
  left: 35%;
  height: 10vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page2-2 {
    background-color: #003f4b;
}
.long-image-container {
  position: absolute;
  animation: long 20s linear infinite;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
  
.long-image-container img {
  width: 2800px; 
  display: inline-block;
  
}
.long-image-container img {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1400px); 
  }
}
.about {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
}
.page2-3 {
    background: #ffffff;
    height: 100vh;
}
.title1 {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    width: 300px;
    left: 10%;
    font-size: 60px;
    color: rgb(45, 45, 45);
    top: 110px;
}
.Jane {
  position: relative;
  bottom: 0px;
}
.row1 {
  margin: 400px;
}
.jan1 {
    position: relative;
    width: 200px;
    top: 280px;
    left: 250px;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan1:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
.jan2 {
  position: relative;
  width: 200px;
  top: 280px;
  left: 250px;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
  opacity: 0; /* 初始状态下透明图层隐藏 */
  transition: opacity 0.3s ease; /* 添加过渡效果 */
}

.jan2:hover .overlay {
  opacity: 1; /* 鼠标悬停时显示透明图层 */
}
.jan3 {
    position: relative;
    width: 200px;
    top: 280px;
    left: 250px;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan3:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  .jan4 {
    position: relative;
    width: 200px;
    top: 280px;
    left: 250px;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan4:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  .jan5 {
    position: relative;
    width: 200px;
    top: 280px;
    left: 250px;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan5:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }

.row-0 {
  height: 300px;
}
.calendar {
  position: absolute;
  left: 460px;
  top: 10px;
}

.page2-4 {
    background: #ffffff;
    height: 100vh;
}
.end-bg {
    position: absolute;
    background-size: cover;
    bottom: 0;
}
.butterfly-white {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 80px;
}
.pagetop {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    right: 35px;
    bottom: 80px;
}
.text-box4 {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    bottom: 140px;
    text-align: center;
    left: 570px;
    color: navy;
}


/************ 手機尺寸設定 ************/
/************ 手機尺寸設定 ************/
/************ 手機尺寸設定 ************/
/************ 手機尺寸設定 ************/
/************ 手機尺寸設定 ************/



@media only screen and (max-width: 768px) {
    .title {
        position: absolute;
        top: 8vh;
        left: 20px;
        font-size: smaller;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .menu {
        position: absolute;
        top: 3vh;
        right: 8%;
        width: 60px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .logo {
        position: absolute;
        width: 85px;
        left: 15px;
    }
    .bye {
        position: relative;
        font-size: smaller;
        top: 25vh;
        left: 39%;
    }
    .cloud {
        position: relative;
        top: 23vh;
        left: 30%;
        width: 120px;
    }
    
    .cloud2 {
        position: relative;
        top: 19vh;
        left: 10%;
        width: 120px;
    }
    
    .mountain {
        position: absolute;
        left: 0px;
        bottom: 20px;
        width: 800px;
    }

    .tree {
        position: absolute;
        bottom: 20px;
        width: 85px;
        left: 10px;
    }

    .letter {
        position: absolute;
        width: 30px;
        bottom: 22px;
        left: 50%;
        
    }
    .letter2 {
        position: absolute;
        right: 530px;
        bottom: 41px;
        left: 48%;
        width: 30px;
    }
    .mailbox {
        position: absolute;
        width: 95px;
        left: 25%;
        bottom: 10px;
        
    }
    .house {
        position: absolute;
        right: 0;
        bottom: 20px;
        width: 160px;
    }
    .butterfly {
        position: absolute;
        width: 90px;
        top: 42vh;
        left: 40%;
    }
    .road {
        position: absolute;
        background: #433d3d;
        height: 20px;
        bottom: 0;
        width: 100%;
    }
    .dog {
        position: absolute;
        bottom: 0;
        animation: dog 5s linear infinite;
    }
    @keyframes dog {
        from {
            transform: translateX(-50vw);
        }
        to {
            transform: translateX(1500px);
        }
    }
    .text-box {
        position: absolute;
        font-size: 18px;
        top: 30vh;
        left: 30%;
        height: 10vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .page2-2 {
        background-color: #003f4b;
        height: 100vh;
    }
    .long-image-container {
      position: absolute;
      bottom: 0;
      animation: long 5s linear infinite;
      width: 700px;
      height: 100vh;
      overflow: hidden;
    }
      
    .long-image-container img {
      width: 1400px; 
      display: inline-block;
      
    }
    .long-image-container img {
      animation: scroll 4s linear infinite;
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(10);
      }
      100% {
        transform: translateX(-700px); 
      }
    }
  .about {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    bottom: 280px;
    font-size: 10px;
  }
  .page2-3 {
      background: #ffffff;
      height: 100vh;
      justify-content: center;
  }
  .title1 {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    width: 150px;
    left: 10%;
    font-size: 30px;
    color: rgb(45, 45, 45);
    top: 30px;
  }
  .jan1 {
    position: relative;
    width: 130px;
    top: 100px;
    left: 20%;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan1:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  .jan2 {
    position: relative;
    width: 130px;
    top: 100px;
    left: 20%;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan2:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  .jan3 {
    position: relative;
    width: 130px;
    top: 100px;
    left: 20%;
    display: inline-block;
  }
    
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
      
  .jan3:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  .jan4 {
    position: relative;
    width: 130px;
    top: 100px;
    left: 20%;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(149, 148, 148, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan4:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  .jan5 {
    position: relative;
    width: 130px;
    top: 100px;
    left: 20%;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 175, 175, 0.5); /* 设置透明度为0.5的黑色背景 */
    opacity: 0; /* 初始状态下透明图层隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
  }
  
  .jan5:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示透明图层 */
  }
  
  .page2-4 {
      background: #ffffff;
      height: 100vh;
  }
  .calendar {
    position: relative;
    top: 90px;
    left: 3%;
    width: 390px;
  }
  .end-bg {
      position: absolute;
      background-size: cover;
      bottom: 0;
      width: 100%;
  }
  .butterfly-white {
      position: absolute;
      bottom: 20px;
      right: 3%;
      width: 60px;
  }
  .pagetop {
      position: absolute;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      right: 3%;
      bottom: 45px;
  }
  .text-box4 {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    height: auto;
    bottom: 25px;
    text-align: center;
    left: 35%;
  }
}